QWidget {
    background-color: #252a36;
    color: #dde5ed;
}

QPushButton,
ctkCollapsibleButton,
ctkComboBox {
    background-color: #006ac6;
    border: 2px #006ac6;
    border-radius: 12px;
    min-height: 20px;
    color: #dde5ed;
    padding: 8px;
    margin: 4px;
    font-size: 20px;
}
